/* You can add global styles to this file, and also import other style files */

input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='file']):not([type='color']),
select {
  min-height: 2.5rem;
  box-sizing: border-box;
}
